<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlatziCommerce</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div id="app">
        <header>
            <h3>PlatziCommerce</h3>
            <button  @click="cartOpen = !cartOpen" class="cart">Carro(0)</button>
            <div v-show="cartOpen" class="cart-content">
                <div class="cart-content__product" v-for="(product,index) in cart" :key="product.name" :class="{'bg-gray': index & 1}">
                    <img :src="product.images[0].image" :alt="product.name.toUpperCase()">
                    <span>{{product.name}} - $ {{new Intl.NumberFormat("es-CO").format(product.price)}}</span>
                </div>
            </div>
        </header>
        <main>
            <section class="product">
                <div class="product__thumbnails">
                    <div @click="activeImage = index" v-for="(image,index) in product.images" :key="index" class="thumb" :class="{active: activeImage === index}" :style="{backgroundImage: 'url(' +image.thumbnail +')'}"></div>
                </div>
                <div class="product__image">
                    <img :src="product.images[activeImage].image" alt="product.name">
                </div>
            </section>
            <section class="description">
                <h4>{{product.name.toUpperCase()}} {{product.stock === 0 ? ":(" : ":)"}}</h4>
                <span class="badge new" v-if="product.new">Nuevo</span>
                <span class="badge offer" v-if="product.offer">Oferta</span>
                <p class="description_status" v-if="product.stock === 3">Quedan pocas unidades</p>
                <p class="description_status" v-else-if="product.stock === 2">El producto esta por agotarse</p>
                <p class="description_status" v-else-if="product.stock === 1" >Ultima unidad disponible</p>
                <p class="description_status" v-else-if="product.stock === 0" >AGOTADO</p>
                <p class="description__price">$ {{new Intl.NumberFormat("es-CO").format(product.price)}}</p>
                <p class="description__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto doloribus atque non aspernatur provident ab sunt dolore debitis voluptatum? Iure!</p>
                <div class="discount">
                    <span>Codigo de Descuento:</span>
                    <input type="text" placeholder="Ingresa tu codigo" @keyup.enter="product.price *= 50/100">
                </div>
                <button :disabled="product.stock === 0" @click="product.stock -= 1">Agregar al carrito</button>
            </section>
        </main>
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const {createApp} = Vue;
        const app = createApp({
            data(){
                return {
                    cartOpen: true,
                    activeImage : 0,
                    product:{
                        name: "Camara",
                        price: 450_000,
                        stock: 5,
                        content: `Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Architecto doloribus atque non aspernatur provident ab sunt dolore debitis
                            voluptatum? Iure!`,
                        images: [
                            {
                                image: "./images/camara.jpg",
                                thumbnail: "./images/camara-thumb.jpg"
                                },
                            {
                                image: "./images/camara-2.jpg",
                                thumbnail: "./images/camara-2-thumb.jpg"
                            }
                        ],
                        new: true,
                        offer: false
                    },
                    cart: [
                        {
                            name: "Camara",
                            price: 450_000,
                            stock: 0,
                            content: `Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Architecto doloribus atque non aspernatur provident ab sunt dolore debitis
                            voluptatum? Iure!`,
                            images: [
                                {
                                    image: "./images/camara.jpg",
                                    thumbnail: "./images/camara-thumb.jpg"
                                },
                                {
                                    image: "./images/camara-2.jpg",
                                    thumbnail: "./images/camara-2-thumb.jpg"
                                }
                            ],
                            new: true,
                            offer: false
                        },
                        {
                            name: "Camara PL2",
                            price: 550_000,
                            stock: 0,
                            content: `Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Architecto doloribus atque non aspernatur provident ab sunt dolore debitis
                            voluptatum? Iure!`,
                            images: [
                                {
                                    image: "./images/camara.jpg",
                                    thumbnail: "./images/camara-thumb.jpg"
                                },
                                {
                                    image: "./images/camara-2.jpg",
                                    thumbnail: "./images/camara-2-thumb.jpg"
                                }
                            ],
                            new: true,
                            offer: false
                        },
                        {
                            name: "Camara PL5",
                            price: 150_000,
                            stock: 0,
                            content: `Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Architecto doloribus atque non aspernatur provident ab sunt dolore debitis
                            voluptatum? Iure!`,
                            images: [
                                {
                                    image: "./images/camara.jpg",
                                    thumbnail: "./images/camara-thumb.jpg"
                                },
                                {
                                    image: "./images/camara-2.jpg",
                                    thumbnail: "./images/camara-2-thumb.jpg"
                                }
                            ],
                            new: true,
                            offer: false
                        },
                    ]
                }
            }
        });

        app.mount('#app');
    </script>
</body>
</html>